<div class="bg-light">
  <section>
    <div class="row">
      <div  class="col-12 col-lg-12 col-md-12">
        <app-creosoul></app-creosoul>
      </div>
    </div>
  </section>
 <div class="container-fluid">
    <section class="bg-light">
        <div class="row g-4 align-items-stretch">
          <!-- Notice Board -->
          <div class="col-12 col-lg-3 col-md-3">
              <app-notice-board></app-notice-board>
          </div>
          <!-- Key About -->
          <div class="col-12 col-lg-6 col-md-6">
              <app-key-about></app-key-about>
          </div>
          <!-- Online Classes -->
          <div class="col-12 col-lg-3 col-md-3">
              <app-online-classes-board></app-online-classes-board>
          </div>
        </div>
    </section>


    <!-- Gallery Section -->
    <section class="py-5">
        <app-gallery></app-gallery>
    </section>

    <!-- Student Testimonials -->
    <section class="py-5 bg-light">
        <app-student-testimonials></app-student-testimonials>
    </section>
  </div>
 </div>