
<div class="dashboard">
  <div class="card">
    <h2 class="card-title">
      <i class="fas fa-video"></i> Online Classes
    </h2>

    <div class="notice-list">
      <div class="notice" *ngFor="let class of notices" >
        <h3>{{ class.title }}</h3>
        <p>👨‍🏫 {{ class.speaker }}</p>
        <small class="date-row">
          <span>
            <i class="far fa-calendar-alt"></i> {{ class.date | date:'medium' }}
          </span>
          <a class="external-link" [href]="class.videoUrl" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-external-link" aria-hidden="true"></i>
          </a> 
        </small>
      </div>
    </div>
  </div>
</div>
